$firm-color: #3E9CDC;
$link-color: #42A9ED;
$color-white: #FFFFFF;
$color-black: #000000;
$font: LatoWeb;

$screen-xs: 426px;
$screen-sm: 768px;
$screen-md: 981px;
$screen-lg: 1172px;
$screen-xl: 1200px;